.container {
    display: flex;
    gap: 20px;
}

.blocks {
    margin: 200px auto;
    display: block;
    width: 200px;
    height: 200px;
    border: 10px solid aqua;
    border-radius: 18px;
    background-color: brown;
}

.one {
    border-style: double;
    background:rgba(138, 80, 80, 0.521);
}

.two {
    border-style: dashed;
    background-color: bisque;
}