body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header {
    background-color: #777575;
}

h3 {
    color: red;
}

.flag__blue {
    background-color: blue;
}

.flag__red {
    background-color: red;
}

.flag__green {
    background-color: green;
}